@model PrivateSquareWeb.Models.AddressModel

@{
    ViewBag.Title = "OrderSuccessful";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}

<h2>Order Successful</h2>
<a href="~/WebHome/Index" class="ps-btn-wdth-100">Home</a>
