################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/System.Diagnostics.DiagnosticSource.4.4.1
