
@{
    ViewBag.Title = "GetStart";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="signin-wrapper">

    <div class="signin-box signup">
        <img src="~/theme/img/logo.png" alt="logo" class="logo-width">
        <div class="ps-step-fifth">
            <h3 class="signin-title-primary">Get Started</h3>
            <p class="text-center">Follows hashtags you're interest in to see this content at the top of your field</p>




            <div class="row row-xs mg-b-10">
                <div class="col-sm-12 text-center"><a href="/Interest/Index" class="btn btn-primary" id="next-6">Get Started</a></div>
            </div>

            <p class="text-center"><a href="">Not now</a></p>

        </div>
    </div>
</div>
