@model PrivateSquareWeb.Models.LoginModel


@{
    /**/

    /**/

    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("ResetPasword", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <p class="text-center private-squares-heading">private<span class="pvt-sq-col">squares</span> helps to connect and share with the people in your life.</p>
        <div class="col-md-7 pull-left"><img src="~/theme/img/login-img.jpg" class="img-full" /></div>
        <div class="col-md-5 pull-left image-padding">
            <div class="signin-box pull-right">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Password" })
                </div><!-- form-group -->
                <div class="form-group">
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = " ReEnter Password" })
                </div><!-- form-group -->
                <div class="form-group">
                <p style="color:red">
                @ViewBag.ResponseMassege</p>
                    <input type="submit" value="Submit" class="btn btn-block btn-sign-in" />
                    <a href="/Login/Index">Login</a>
                </div><!-- form-group -->

            </div>
        </div>
    </div>
}
