
@{
    ViewBag.Title = "Interest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="signin-wrapper">

    <div class="signin-box signup">
        <img src="~/theme/img/logo.png" alt="logo" class="logo-width">
        <div class="ps-interests">
            <h3 class="signin-title-primary">Interests</h3>
            <h5 class="signin-title-secondary lh-4">It's free to signup and only takes a minute.</h5>
            <div class="col-lg-12 mg-t-20 mg-lg-t-0 p-0">
                <select class="form-control select2-show-search" data-placeholder="Choose one (with searchbox)">
                    <option label="Choose one"></option>
                    <option value="Category">Category</option>
                    <option value="Category 1">Category 1</option>
                    <option value="Category 2">Category 2</option>
                    <option value="Category 3">Category 3</option>
                    <option value="Category 4">Category 4</option>
                </select>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 mg-t-10 p-0">
                <select class="form-control select2" data-placeholder="Choose Browser" multiple>
                    <option value="Firefox">Firefox</option>
                    <option value="Chrome selected">Chrome</option>
                    <option value="Safari">Safari</option>
                    <option value="Opera" selected>Opera</option>
                    <option value="Internet Explorer">Internet Explorer</option>
                </select>
            </div><!-- col-4 -->
            <div class="clearfix"></div>
            <div class="col-sm-12 p-0 mg-t-10"><button class="btn btn-primary pull-right" id="next-2">Next</button></div>
        </div>
        </div>
    </div>

