@model PrivateSquareWeb.Models.SaleOrderModel

@{
    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}
<div class="ps-hero">
    <div class="container">
        <h3>wishlist</h3>
        <p>Page Cart</p>
    </div>
</div>
<div class="ps-content pt-80 pb-80" id="wishlistproducts">
    <div class="ps-container">
        <div class="table-responsive">
            <table class="table ps-table ps-table--whishlist">
                <thead>
                    <tr>
                        <th>Order No</th>
                        <th>PRICE</th>
                        <th>View</th>
                        <th>ORDER DATE</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var orders in ViewBag.MyOrders)
                    {
                        <tr>
                            <td><a class="ps-product--compare" href="#"><img class="mr-15" src="~/DocImg/user.png" alt="">@orders.OrderNo</a></td>
                            <td>@orders.Amount</td>
                            <td><a class="ps-product-link" href="#">View Order</a></td>
                            <td>
                                @orders.OrderDate
                                @*<div class="ps-remove"></div>*@
                            </td>
                        </tr>
                    }
                    @*<tr>
                            <td><a class="ps-product--compare" href="product-detail.html"><img class="mr-15" src="~/WebSiteTheme/images/shopping-cart/2.jpg" alt=""> The Crusty Croissant</a></td>
                            <td>$150</td>
                            <td><a class="ps-product-link" href="product-detail.html">View Product</a></td>
                            <td>
                                <div class="ps-remove"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><a class="ps-product--compare" href="product-detail.html"><img class="mr-15" src="~/WebSiteTheme/images/shopping-cart/3.jpg" alt="">The Rolling Pin</a></td>
                            <td>$150</td>
                            <td><a class="ps-product-link" href="product-detail.html">View Product</a></td>
                            <td>
                                <div class="ps-remove"></div>
                            </td>
                        </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="ps-section--partner">
    <div class="ps-container">
        <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="60" data-owl-nav="false" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="3" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="5" data-owl-duration="1000" data-owl-mousedrag="on"><a href="#"><img src="~/WebSiteTheme/images/partner/1.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/2.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/3.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/4.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/5.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/1.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/2.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/3.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/4.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/5.png" alt=""></a></div>
    </div>
</div>
<div class="ps-section--features">
    <div class="ps-container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="ps-iconbox">
                    <header>
                        <i class="ps-icon-delivery"></i>
                        <h3>FREE SHIPPING</h3>
                        <p>ON ORDER OVER $199</p>
                    </header>
                    <p>Want to track a package? Find tracking information and order details from Your Orders.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="ps-iconbox">
                    <header>
                        <i class="ps-icon-wallet"></i>
                        <h3>100% MONEY BACK.</h3>
                        <p>WITHIN 30 DAYS AFTER DELIVERY.</p>
                    </header>
                    <p>You may return most new, unopened items sold within 30 days of delivery for a full refund.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="ps-iconbox">
                    <header>
                        <i class="ps-icon-customer-service"></i>
                        <h3>SUPPORT 24/7.</h3>
                        <p>WE CAN HELP YOU ONLINE.</p>
                    </header>
                    <p>We offer a 24/7 customer hotline so you’re never alone if you have a question.</p>
                </div>
            </div>
        </div>
    </div>
</div>

