@model PrivateSquareWeb.Models.UserProfileModel
@{
    ViewBag.Title = "PersonalProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SaveProfile", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Profile</li>
                </ol>
                <h6 class="slim-pagetitle">Profile</h6>
            </div>
            <div class="section-wrapper">
                <div class="form-layout">
                    <div class="row">

                        <div class="col-sm-6 col-md-3">
                            <img src="~/theme/img/img0.jpg" class="img-fluid" alt="">
                            <div class="col-lg-12 mg-t-21 p-0">
                                <div class="custom-file">
                                    <input type="file" title="search image" id="FileUploadImage" name="FileUploadImage" class="custom-file-input">

                                    <label class="custom-file-label custom-file-label-inverse" for="customFile">Upload Profile Photo</label>
                                </div><!-- custom-file -->
                            </div><!-- col -->
                        </div>
                        <div class="col-sm-6 col-md-9">
                            <label class="section-title">Personal Info</label>
                            <hr />
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Firstname: <span class="tx-danger">*</span></label>
                                        <input class="form-control" type="text" name="firstname" value="" placeholder="Enter firstname">
                                    </div>
                                </div><!-- col-4 -->
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Lastname: <span class="tx-danger">*</span></label>
                                        <input class="form-control" type="text" name="lastname" value="" placeholder="Enter lastname">
                                    </div>
                                </div><!-- col-4 -->
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Email address: <span class="tx-danger">*</span></label>
                                        <input class="form-control" type="text" name="email" value="" placeholder="Enter email address">
                                    </div>
                                </div><!-- col-4 -->
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label">DOB: <span class="tx-danger">*</span></label>
                                        <input type="text" class="form-control fc-datepicker" placeholder="MM/DD/YYYY" name="dob" id="dob">
                                    </div>
                                </div><!-- col-4 -->
                                <div class="col-lg-4">
                                    <div class="form-group mg-b-10-force">
                                        <label class="form-control-label">Country: <span class="tx-danger">*</span></label>
                                        <select class="form-control select2" data-placeholder="Choose country" name="country" id="country">
                                            <option label="Choose country"></option>
                                            <option value="1">United States of America</option>
                                            <option value="2">United Kingdom</option>
                                            <option value="3">China</option>
                                            <option value="4">Japan</option>
                                        </select>
                                    </div>
                                </div><!-- col-4 -->
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label">State: <span class="tx-danger">*</span></label>
                                        <input class="form-control" type="text" name="state" value="" placeholder="Enter state">
                                    </div>
                                </div><!-- col-4 -->
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label">City: <span class="tx-danger">*</span></label>
                                        <input class="form-control" type="text" name="city" value="" placeholder="Enter city">
                                    </div>
                                </div><!-- col-4 -->

                                <div class="col-lg-8">
                                    <div class="form-group mg-b-10-force">
                                        <label class="form-control-label">Mail Address: <span class="tx-danger">*</span></label>
                                        <input class="form-control" type="text" name="address" value="" placeholder="Enter address">
                                    </div>
                                </div><!-- col-8 -->

                            </div>

                        </div>

                        <div class="col-12 mg-t-21">
                            <label class="section-title">Profile Info</label>
                            <hr />
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label">Title: <span class="tx-danger">*</span></label>
                                        <input class="form-control" type="text" name="title" value="" placeholder="Enter Title">
                                    </div>
                                </div><!-- col-12 -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">Professional Category: <span class="tx-danger">*</span></label>
                                        <select class="form-control select2-show-search" data-placeholder="Choose one ">
                                            <option label="0"></option>
                                            <option value="1">Arts & Crafts</option>
                                            <option value="2">Automotive</option>
                                            <option value="3">Baby</option>
                                            <option value="4">Beauty & Personal Care</option>
                                            <option value="5">Books</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="form-control-label">Professional Keywords: <span class="tx-danger">*</span></label>
                                        <input class="form-control" type="text" id="Keywords" name="Keywords" value="" placeholder="Enter Keywords">
                                        @*<select class="form-control select2" data-placeholder="Choose Keywords" multiple>
            <option value="1">Keyword 1</option>
            <option value="2">Keyword 2</option>
            <option value="3">Keyword 3</option>
        </select>*@
                                    </div>
                                </div>
                                @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">Interest Category: <span class="tx-danger">*</span></label>
                                        <select class="form-control select2-show-search" data-placeholder="Choose one ">
                                            <option label="Choose one"></option>
                                            <option value="0">Arts & Crafts</option>
                                            <option value="1">Automotive</option>
                                            <option value="2">Baby</option>
                                            <option value="3">Beauty & Personal Care</option>
                                            <option value="4">Books</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="form-control-label">Interests: <span class="tx-danger">*</span></label>
                                        <select class="form-control select2" data-placeholder="Choose Keywords" multiple>
                                            <option value="1">Interest 1</option>
                                            <option value="2">Interest 2</option>
                                            <option value="3">Interest 3</option>
                                        </select>
                                    </div>
                                </div>*@
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label">Description: <span class="tx-danger">*</span></label>
                                        <textarea class="form-control desc-height" type="text" name="description" value="" placeholder="Enter description"></textarea>
                                    </div>
                                </div><!-- col-12 -->
                            </div><!-- col-12 -->
                        </div>

                    </div><!-- row -->

                    <div class="form-layout-footer">
                        <button class="btn btn-primary bd-0">Save</button>
                        <button class="btn btn-secondary bd-0">Cancel</button>
                    </div><!-- form-layout-footer -->
                </div><!-- form-layout -->
            </div><!-- section-wrapper -->
        </div>

    </div>
}


