<div class="slim-footer">
    <div class="container">
        <p>Copyright 2019 © All Rights Reserved. Privatesquares</p>
        <p>powered by: <a href="#" title=""> <img src="~/theme/img/logo.png" alt="private squares" class="footer-logo" /></a></p>
    </div><!-- container -->
</div>