<div>
<h3 class="signin-title-primary">One Time Password</h3>
<h5 class="signin-title-secondary lh-4">Enter OTP and set your password</h5>

<div class="row row-xs mg-b-10">
    <div class="col-lg"><input type="text" class="form-control" placeholder="OTP"></div>
</div><!-- row -->


<div class="row row-xs mg-b-10">
    <div class="col-sm-12"><button class="btn btn-primary pull-right" id="next-2">Next</button></div>
</div>
</div>