<!DOCTYPE html>



<html>

<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Private Square</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLibre+Baskerville:400,700" rel="stylesheet">

    @Styles.Render("~/websitetheme/plugins/revolution/css")

    @*@Scripts.Render("~/bundles/bootstrap")*@

    @RenderSection("scripts", required: false)



</head>



<body class="ps-loading">

    <header>

        @{

            //Html.RenderPartial("_Header");

            Html.RenderAction("HeaderValue", "WebsiteHeader");

        }

    </header>

    <div>

        @RenderBody()



    </div>

    <footer>

        @{Html.RenderPartial("_WebSiteFooter");

        }

    </footer>

    @Scripts.Render("~/websitetheme/bundles/jquery")
    <script>
        var weburl = window.location.pathname;

        $(".main-menu li a").each(function () {

            var menuhref = $(this).attr('href');

            if (weburl == menuhref) {

                $(".main-menu li").removeClass("current-menu-item");

                $(this).parent('li').addClass("current-menu-item");

            }

            else {

            }

        })
    </script>
</body>

</html>






