<footer class="ps-footer site-footer">
    <div class="ps-footer__content">
        <div class="ps-container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">

                    <div class="ps-site-info site-info">
                        <a class="ps-logo" href="index.html"><img src="~/WebSiteTheme/images/logo.png" alt=""></a>

                        <p>NearByCart is a destination for 20-somethings. We sell cutting-edge products and offer a wide variety of all types of content, making NearByCart Store the hub of a thriving community.</p>
                        <div class="ps-site-info__contact">
                            <h4>Contact Info</h4>
                            <p>179 CMT8, District I, HCM City, Vietnam</p>
                            <p>(+84 ) 7534 9773, (+84 ) 874 548</p>
                        </div>
                        <ul class="ps-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>

                        </ul>

                    </div>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">

                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">

                            <div class="ps-widget ps-widget--footer widget widget_footer">

                                <h2 class="ps-widget__title">Our Branding</h2>

                                <ul class="ps-list--line">

                                    <li><a class="text-uppercase" href="#">DKNY</a></li>

                                    <li><a class="text-uppercase" href="#">GUCCI</a></li>

                                    <li><a class="text-uppercase" href="#">BANANA & DOLCE</a></li>

                                    <li><a class="text-uppercase" href="#">HERMER</a></li>

                                    <li><a class="text-uppercase" href="#">CHANEL</a></li>

                                </ul>

                            </div>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">

                            <div class="ps-widget ps-widget--footer widget widget_footer">

                                <h2 class="ps-widget__title">Customer Care</h2>

                                <ul class="ps-list--line">

                                    <li><a href="#">My Account</a></li>

                                    <li><a href="#">Track your Order</a></li>

                                    <li><a href="#">Customer Service</a></li>

                                    <li><a href="#">FAQs</a></li>

                                    <li><a href="#">Product Support</a></li>

                                </ul>

                            </div>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">

                            <div class="ps-widget ps-widget--footer widget widget_footer">

                                <h2 class="ps-widget__title">Your Account</h2>

                                <ul class="ps-list--line">

                                    <li><a href="#">Your account</a></li>

                                    <li><a href="#">Newsletter</a></li>

                                    <li><a href="#">Information</a></li>

                                    <li><a href="#">Payment method</a></li>

                                    <li><a href="/WebHome/Wishlist">Your wishlist</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="ps-footer__copyright">

        <div class="ps-container">

            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

                    <p>&copy; Copyright by <span>NearByCart STORE</span>. Design by <a href="#">Alena Studio</a>.</p>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

                    <div class="ps-footer__payment-methods">
                        <a href="#">
                            <img src="~/WebSiteTheme/images/payment-method/paypal.png" alt="">
                        </a><a href="#"><img src="~/WebSiteTheme/images/payment-method/visa.png" alt=""></a>
                        <a href="#"><img src="~/WebSiteTheme/images/payment-method/master-card.png" alt=""></a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</footer>